<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="github.com/KauaS-Souza">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba</title>
</head>
<body>
    <!-- eu sou um comentário -->
     <marquee bgColor="red" direction="up">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quos?</marquee>
     <marquee bgColor="Silver" direction="left">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias, fugiat!</marquee>
     <marquee bgColor="green" direction="down">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, minus.</marquee>
     <marquee bgColor="Yellow" direction="low">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, quaerat.</marquee>
</body>
</html>